VITE_SUPABASE_URL=https://kpfeknsjwfkgkbrgoaio.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtwZmVrbnNqd2ZrZ2ticmdvYWlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg2NTg0NTcsImV4cCI6MjA3NDIzNDQ1N30.cCEZXgQwdp2jdeCgrhJ6Bcljtbmgz5XI6t679-DL_a0
